<footer>
    <hr/>
    <p>P211012555李文兰 3427130141@qq.com | P211012533孙诗琪 2623865746@qq.com</p>
</footer>

<style>
    footer{
        font-size: 12px;
        color: white;
        text-align: center;
    }
</style>