    <a href="/">首页</a>
	<a href="/recommend">推荐</a>
    <a href="/display">电影TOP</a>
    <a href="/noteslist">影评</a>
	<a href="/about">关于我们</a>
    <a href="/Ad">广告位</a>
    
    

        <style>
            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
                margin-right: 3em;

            }
            a:hover{
               text-decoration: underline; 
               background-color: rgb(96, 149, 228);
            }
           
        </style>