    <a href="/">首页</a>
	<a href="/books/">八烙铁资料库</a>
	<a href="/note">迷人记录</a>
	<a href="/about">关于Stray Kids</a>

        <style>
            a{
                color: aliceblue;
                text-decoration: none;
                margin-right: 3em;

            }
            a:hover{
               text-decoration: underline; 
               background-color: rgb(96, 149, 228);
            }
           
        </style>